<div class="row">
    <div class="col-lg" data-aos="fade-up-right" data-aos-anchor-placement="bottom-bottom">
      <h1>Contact us:</h1>
      <div class="pl-5">
        <ul class="list-unstyled"></ul>
          <li class="d-flex text-black mb-2">
          <span class="fa-li"><i class="fas fa-map"></i></span> Glen Allen, Virginia <br> United States
          </li>
          <li class="d-flex text-black mb-2"><span class="fa-li"><i class="fas fa-mobile-alt"></i></span> +1 (678) 379 9488</li>
          <li class="d-flex text-black"><span class="fa-li"><i class="far fa-envelope"></i></span> info@tech-tavern.com </li>
          </ul>
      </div>
    </div>
    <div class="col-lg" data-aos="fade-up-left" data-aos-anchor-placement="bottom-bottom">
      <img src="/assets/img/undraw_contact_us_15o2.svg" alt="line art of people sitting around social media icons" class="img-fluid text-center" />
    </div>
  </div>