<div class="row">
    <div class="col-lg" data-aos="fade-up-right">
      <h1>Contact us:</h1>
      <p>To reach out with questions, talk about how we might be able to work together, or anything else...</p>
      <div>
        <ul class="list-align ml-5"></ul>
          <li class="d-flex text-black mb-2">
          <span class="text-center mx-2"><i class="fas fa-map"></i></span> Glen Allen, Virginia <br> United States
          </li>
          <li class="d-flex text-black mb-2"><span class="text-center mx-2"><i class="fas fa-mobile-alt"></i></span> +1 (678) 822 4200</li>
          <li class="d-flex text-black"><span class="text-center mx-2"><i class="far fa-envelope"></i></span> <a href="mailto:info@tech-tavern.com">info@tech-tavern.com</a> </li>
          </ul>
      </div>
    </div>
    <div class="col-lg" data-aos="fade-up-left" data-aos-anchor-placement="bottom-bottom">
      <img src="/assets/img/undraw_contact_us_15o2.svg" alt="line art of people sitting around social media icons" class="img-fluid text-center" />
    </div>
  </div>