<div class="row align-items-center">
    <div class="col-md-6">
      <img
        src="/assets/img/annie-spratt-QckxruozjRg-unsplash.jpg"
        class="img-fluid rounded shadow side-notch"
        alt="5 people sitting around a wooden table working on laptops and collaborating together."
      />
    </div>

    <div class="col-md-6" data-aos="fade-in">
      <h1 class="my-3">Introducing Tech Tavern</h1>
      <p class="my-4">Helping businesses and communities supercharge their workforce, 
        achieve undeniable impact, and leverage best-in-class coding, data, and DevOps.</p>
      <ul>
        <li>Develop an IT workforce with cutting-edge skills.</li>
        <li>Plan and adopt technology for the highest impact.</li>
        <li>Supercharge your IT development and operations with best practice implementations.</li>
      </ul>
      <p class="fst-italic">Tech Tavern is a veteran-owned business.</p>
    </div>
  </div>