<div class="row my-3 g-3">

    <div class="col-md-4" data-aos="flip-left">
      <div class="card bg-dark text-white">
        <img src="/assets/img/c1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay mask">
          <h5 class="card-title">Card title 1</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4" data-aos="flip-left">
      <a href="#">
      <div class="card bg-dark text-white">

        <img src="/assets/img/c2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay mask" href="#">
          <h5 class="card-title">Card title 2</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </a>
    </div>

    <div class="col-md-4" data-aos="flip-left">
      <div class="card bg-dark text-white">
        <img src="/assets/img/c3.jpg" class="card-img" alt="...">
        <div class="card-img-overlay mask">
          <h5 class="card-title">Card title </h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>