<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
  <div
    class="col-10 col-sm-8 col-lg-6"
    data-aos="zoom-in-up"
    data-aos-easing="linear"
    data-aos-duration="1000"
  >
    <img
      src="/assets/img/ScottSpeakingSCC.jpg"
      class="d-block mx-lg-auto img-fluid shadow"
      alt="Bootstrap Themes"
      width="700"
      height="500"
      loading="lazy"
    />
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">Who We Are</h1>
    <p class="lead">
      Tech Tavern is lead by
      <a
        href="https://www.linkedin.com/in/scott-turnbull-b2b01b8/"
        class="link-info"
        target="_blank"
        >Scott Turnbull</a
      >, with over 30 years in national scale IT projects with Universities,
      local Government, non-profit, and smart city leadership in partnership with
      Federal Agencies like the National Science Foundation, NIST, and
      Department of Defense. -
      <a
        href="https://www.linkedin.com/in/scott-turnbull-b2b01b8/"
        target="_blank"
        class="link-info"
        ><i class="fab fa-linkedin"></i
      ></a>
    </p>
    <ul>
      <li>Bold visionary in the Smart City movement</li>
      <li>IT Leader with numerous national infrastructure projects</li>
      <li>Expert on data and software engineering</li>
      <li>
        Frequent speaker on data, privacy, economic development through
        technology, start-up mentor.
      </li>
      <li>Has worked dozens of communities nation wide, to develop smart city plans with real impact</li>
    </ul>
  </div>
</div>
<div class="row flex-lg-row align-items-center g-5 py-5" data-aos="flip-down">
  <div class="col">
    <img
      src="/assets/img/logos/Python-logo-notext.svg"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="col">
    <img src="/assets/img/logos/Go_Logo_Blue.svg" alt="" class="img-fluid" />
  </div>
  <div class="col">
    <img src="/assets/img/logos/angular.svg" alt="" class="img-fluid" />
  </div>
  <div class="col">
    <img src="/assets/img/logos/React-icon.svg" alt="" class="img-fluid" />
  </div>
  <div class="col">
    <img
      src="/assets/img/logos/Amazon_Web_Services_Logo.svg"
      alt=""
      class="img-fluid"
    />
  </div>
  <div class="col">
    <img
      src="/assets/img/logos/Microsoft_Azure_Logo.svg"
      alt=""
      class="img-fluid"
    />
  </div>
</div>
