<div class="row align-items-center justify-content-center">
    <div class="col-md-5" data-aos="fade-right">
      <h1>Tap into Skills</h1>
      <p>
        Collaborative tutorials, formal lessons, challenges & competitions, as well as effective 
        recruitment are all ways to grown your workforce.  Tech Tavern has a long history of 
        facilitating growth and achieving real world impact.
      </p>
      <ul>
        <li>Designing and delivering tutorials and workshops</li>
        <li>Coordinating meetups & professional exchanges</li>
        <li>Running challenges, hackathons, & reverse pitches</li>
        <li>Fostering community engagement with technology</li>
      </ul>
    </div>
    <div class="col-md-5" data-aos="fade-left">
      <img src="/assets/img/undraw_teaching_f1cm.svg" class="img-fluid" alt="line drawing of a person standing in front of a blackboard" />
    </div>
    <div class="col-md-5" data-aos="fade-right">
      <img src="/assets/img/undraw_Scrum_board_re_wk7v.svg" class="img-fluid" alt="line drawing of a person in front of a scrum board" />
    </div>
    <div class="col-md-5" data-aos="fade-left">
      <h1>Tap into Impact</h1>
      <p>
        Tech Tavern helps you achieve your goals through experience at all levels of IT.  
        We move you forward by collaboratively developing and managing plans, measuring 
        and monitoring outcomes, or as interim CIO.
      </p>
      <ul>
        <li>Strategic IT planning support</li>
        <li>Proposal and grant support</li>
        <li>IT and data policy development</li>
        <li>Interim CIO & IT Leadership</li>
      </ul>
    </div>
    <div class="col-md-5" data-aos="fade-right">
      <h1>Tap into Code</h1>
      <p>
        In addition to strategic IT leadership, Tech Tavern provides direct hands on supplemental
        support for your IT needs. Be it kick starting an initiative with best practices, prototyping 
        & rapid development, or consolidating & streamlining operations.
        Tech Tavern has the right skills and partnerships for you.
      </p>
      <ul>
        <li>Software creation and support with a focus on Python, Go, Javascript/Typescript</li>
        <li>Data support for standard RDBMS systems, document based databases, and timeseries databases</li>
        <li>Data structure, simulation & processing</li>
        <li>Cloud operations and services</li>
      </ul>
    </div>
    <div class="col-md-5" data-aos="fade-left">
      <img src="/assets/img/undraw_programming_2svr.svg" class="img-fluid" alt="line drawing of someone from behind working on a computer with several monitors." />
    </div>
  </div>