<div class="row flex-lg-row align-items-center" data-aos="flip-down">
    <div class="row flex-lg-row align-items-center g-5">
        <div class="col align-items-center">
            <img
                    src="/assets/img/logos/Microsoft_365.svg"
                    alt="Microsoft 365 Logo"
                    title="Microsoft 365"
                    class="img-fluid pb-2"
                    width="120"
                    align="center"

            />
            <img
                    src="/assets/img/logos/Microsoft_Azure_Logo.svg"
                    alt="Microsoft Azure Logo"
                    title="Microsoft Azure"
                    class="img-fluid"
                    width="120"
                    align="center"
            />
        </div>
        <div class="col">
            <img
                    src="/assets/img/logos/Amazon_Web_Services_Logo.svg"
                    alt="Amazon Web Services Logo"
                    title="Amazon Web Services"
                    class="img-fluid"
                    width="120"
            />
        </div>
        <div class="col">
            <img
                    src="/assets/img/logos/Raisers-Edge-logo1.png"
                    alt="Raiser's Edge NXT logo"
                    title="Raise's Edge NXT"
                    class="img-fluid"
                    width="120"
            />
        </div>
        <div class="col">
            <img
                    src="/assets/img/logos/Wordpress-Logo.svg"
                    alt="Wordpress logo"
                    title="Wordpress"
                    class="img-fluid"
                    width="120"
            />
        </div>
    </div>
    <div class="row flex-lg-row align-items-center">
        <div class="col">
            <img
                    src="/assets/img/logos/Python-logo-notext.svg"
                    alt="Python logo"
                    title="Python programming language"
                    class="img-fluid"
                    width="120"
            />
        </div>
        <div class="col">
            <img
                    src="/assets/img/logos/Go_Logo_Blue.svg"
                    alt="Go Logo"
                    title="Go programming language"
                    class="img-fluid"
                    width="120"
            />
        </div>
        <div class="col">
            <img src="/assets/img/logos/angular.svg" alt="" class="img-fluid" width="120" />
        </div>
        <div class="col">
            <img src="/assets/img/logos/React-icon.svg" alt="" class="img-fluid" width="120" />
        </div>
    </div>
</div>
<div class="row align-items-center justify-content-center pt-5">
    <div class="col-md-5 pb-5" data-aos="fade-right">
        <h1>Tap into Skills</h1>
        <p>
            Effective recruitment, collaborative tutorials, formal training, and development challenges are all
            effective ways to grow your workforce. Tech Tavern has a long history of facilitating growth and achieving
            real-world impact.
        </p>
        <ul>
            <li>Designing and delivering tutorials and workshops.</li>
            <li>Fostering community engagement through technology.</li>
            <li>Running challenges, hackathons, and reverse pitches.</li>
            <li>Coordinating meetups and professional exchanges.</li>
        </ul>
    </div>
    <div class="col-md-5" data-aos="fade-left">
        <img src="/assets/img/undraw_teaching_f1cm.svg" class="img-fluid"
             alt="line drawing of a person standing in front of a blackboard"/>
    </div>
    <div class="col-md-5" data-aos="fade-right">
        <img src="/assets/img/undraw_Scrum_board_re_wk7v.svg" class="img-fluid"
             alt="line drawing of a person in front of a scrum board"/>
    </div>
    <div class="col-md-5 py-5" data-aos="fade-left">
        <h1>Tap into Impact</h1>
        <p>
            Tech Tavern helps you execute your strategy through experience at all levels of IT. We move you forward by
            collaboratively developing and managing plans, measuring and monitoring outcomes, or providing IT
            leadership.
        </p>
        <ul>
            <li>Interim CIO and IT Leadership.</li>
            <li>Strategic IT planning support.</li>
            <li>Proposal and grant support.</li>
            <li>IT and data policy development.</li>
        </ul>
    </div>
    <div class="col-md-5 pt-5" data-aos="fade-right">
        <h1>Tap into Code</h1>
        <p>In addition to strategic IT leadership, Tech Tavern provides direct hands-on support for your IT needs. Be it
            kick-starting an initiative with best practices, prototyping, and rapid development, or consolidating and
            streamlining operations, Tech Tavern has the right skills and partnerships for you.</p>
        <ul>
            <li>Software creation and support with a focus on Python, Go, Javascript/Typescript.</li>
            <li>Data support for standard RDBMS systems, document-based or time series databases.</li>
            <li>Data structure, simulation and processing.</li>
            <li>Cloud operations and services.</li>
        </ul>
    </div>
    <div class="col-md-5" data-aos="fade-left">
        <img src="/assets/img/undraw_programming_2svr.svg" class="img-fluid"
             alt="line drawing of someone from behind working on a computer with several monitors."/>
    </div>
</div>