<div class="row align-items-center justify-content-center">
    <div class="col-md-5" data-aos="fade-right">

      <h1>Tap into Skills</h1>

      <p>
        Collaborative tutorials, formal lessons, challenges & competition, as well as effective 
        recruitment are all ways to grown your workforce.  Tech Tavern has a long history of 
        facilitating growth by helping communities connect and grow.
      </p>
    </div>
    <div class="col-md-5" data-aos="fade-left">
      <img src="/assets/img/undraw_teaching_f1cm.svg" class="img-fluid" alt="line drawing of a person standing in front of a blackboard" />
    </div>
    <div class="col-md-5" data-aos="fade-right">
      <img src="/assets/img/undraw_Scrum_board_re_wk7v.svg" class="img-fluid" alt="line drawing of a person in front of a scrum board" />
    </div>
    <div class="col-md-5" data-aos="fade-left">
      <h1>Tap into Impact</h1>

      <p>
        Tech Tavern helps you achieve those goals through experience at all levels of IT, 
        be developing and managing plans, measuring and monitoring outcomes, or as interim CIO
      </p>
    </div>
    <div class="col-md-5" data-aos="fade-right">
      <h1>Tap into Code</h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Delectus, tempore placeat corrupti enim, cumque ex? Mollitia nihil
        sint cumque omnis iure nisi.
      </p>
    </div>
    <div class="col-md-5" data-aos="fade-left">
      <img src="/assets/img/undraw_programming_2svr.svg" class="img-fluid" alt="line drawing of someone from behind working on a computer with several monitors." />
    </div>
  </div>