
$beau-blue2: #e6f5ff; // Beau Blue
$beau-blue: #C2E0F2; // Beau Blue
$two: #9BB1BF;
$three: #D93829;
$maroon: #730202; // Maroon
$sealbrown: #260101; // Seal Brown

$nero: #1f1e1e; // Nero

$ghost: #C1C6CE;
$shark: #232326; // dark
$el-salva: #954035; // danger
$warning: #958f35;
$success: #35953a;
$secondary: $ghost;
$beaver: #89685D;
$info: #5d8089;
$light: #f2f7ff;
$dark: $shark;
$danger: $el-salva;
$primary: $beaver;


$mask: rgba(0,0,0,0.7);
$mask-glass: rgba(38, 1, 1, 0.2);
$gradient-start: rgb(38, 1, 1);
$gradient-end: rgb(115, 2, 2);

/* Boostrap overrides */
$font-family-base: 'Lato', sans-serif ;
$headings-font-family: 'Poppins', sans-serif;
$fa-font-path: "../webfonts";
$enable-shadows: true;


