---
layout: default
---

<!-- Page Header -->
<header class="bg-image" id="Home">
    <div
            class="
          mask
          bg-image-frame
          d-flex
          align-items-center
          justify-content-center
        "
    >
        <div class="container pt-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 text-light mask-glass rounded p-5" data-aos="zoom-in">
                    <h2 class="text-light">{{ site.title }}</h2>

                    <p>{{ site.description }}</p>

                    <a role="button" class="btn btn-secondary btn-lg" href="#Services">
                        Services
                    </a>
                    <a role="button" class="btn btn-outline-secondary btn-lg" href="#Contact">
                        Contact
                    </a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</header>

<section class="feature gradient pt-5 mb-3" id="Info">
    <div class="container mt-5">
        {% include info.html %}
    </div>
    {% include dividerbottom.html %}
</section>

<section class="icons py-5" id="Mission">
    <!-- Bootstrap 5 Icons -->
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <div class="icon gradient mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                         class="bi bi-shield-fill-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"/>
                    </svg>
                </div>
                <h3>Cybersecurity</h3>
                <p>In a digtal world, strong cybersecurity measures are essential to protect against cyber attacks. Our
                    team of experts can help identify vulnerabilities and implement security measures to keep your
                    business safe.</p>
            </div>
            <div class="col-md-4">
                <div class="icon gradient mb-4">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-smartphone"
                    >
                        <rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect>
                        <line x1="12" y1="18" x2="12.01" y2="18"></line>
                    </svg>
                </div>
                <h3>Impact</h3>
                <p>Delivering returns on IT strategies can be difficult without the right planning. It takes talented
                    technical leadership with the right mix of experience and expertise. We help you achieve maximum
                    impact.</p>
            </div>
            <div class="col-md-4">
                <div class="icon gradient mb-4">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-code"
                    >
                        <polyline points="16 18 22 12 16 6"></polyline>
                        <polyline points="8 6 2 12 8 18"></polyline>
                    </svg>
                </div>
                <h3>Technology</h3>
                <p>Building the right solutions and avoiding technical debt is critical for long-term IT success. We
                    supplement your IT needs through best practice coding, data, and DevOps to launch you to the next
                    level.</p>
            </div>
        </div>
    </div>
</section>

<section class="services gradient feature" id="Services">
    {% include dividertop.html %}
    <div class="container">
        {% include services.html %}
    </div>
    {% include dividerbottom.html %}
</section>

<section class="gallery feature" id="About">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 160">
        <path
                class="feature"
                fill-opacity="1"
                d="M0,128L120,128C240,128,480,128,720,122.7C960,117,1200,107,1320,101.3L1440,96L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"
        ></path>
    </svg>
    <div class="container">

        {% include profile.html %}

    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
                fill-opacity="1"
                d="M0,128L120,128C240,128,480,128,720,122.7C960,117,1200,107,1320,101.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"
        ></path>
    </svg>
</section>

<section class="contact pb-5" id="Contact">
    <div class="container">
        {% include contact.html %}
    </div>
</section>
</div>

<footer class="gradient pb-5">
    <div class="container-fluid text-center">Created by Tech Tavern</div>
    <div class="container-fluid text-center">
        &copy; Copyright 2021-2022, Tech Tavern LLC
    </div>
</footer>
